/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
min-width: 100vh;
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

h2 {

   position: relative;
   display: flex;
   gap: 5px;
   color: #FFF;
   font-size: 4em;
   cursor: pointer;
}

h2 span{
  position: relative;
  filter: blur(5px);
  padding: 0 5px;
  transition: 0.5s;

}

h2 span:hover{
  filter: blur(0px);
  transition: 0s;
}